# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

QtXBee
libQXBee.a
device.cfg
.qmake.stash
.clang_complete
build
src/Makefile.QXBee
tests/Makefile.Test
target_wrapper.sh
.DS_Store

doc/html/*
!doc/html/doxy-boot.js
!doc/html/header.html
!doc/html/footer.html
!doc/html/customdoxygen.css

doc/latex
