# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Qt-es

*.pro.user
*.pro.user.*
moc_*.cpp
qrc_*.cpp
Makefile
*-build-*

QXBee
libQXBee.a
device.cfg
.qmake.stash
.clang_complete
build
src/Makefile.QXBee
tests/Makefile.Test
